<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="APP_LOG_ROOT">logs/</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>

        <!-- Console Appender -->
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- File Appender -->
        <RollingFile name="fout" fileName="${APP_LOG_ROOT}/pocketmessenger_log-${date:yyyy-MM-dd}.log"
                     filePattern="${APP_LOG_ROOT}/pocketmessenger_log-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="FATAL" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000KB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${APP_LOG_ROOT}" maxDepth="1">
                    <IfLastModified age="1d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <Async name="ASYNC">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="fout"/>
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="ru.geekbrains.pocket.messenger" level="debug" additivity="false">
            <AppenderRef ref="ASYNC"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="ASYNC"/>
        </Root>
    </Loggers>
</Configuration>