#menu {
    -fx-background-color: #3498DB;

    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#leftMenu {
    -fx-background-color: #3498DB;
    -fx-background-image: url("../images/chat/ShapeLeft.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.menu-bar {
    -fx-background-color: #3498DB;
}

.menu-button > .arrow-button > .arrow {
    -fx-background-color: transparent;
}

#menu-bar.label {

}
#menu:focused {
    -fx-background-color: #3498DB;
}
#menu:hover {
    -fx-background-color: #3498DB;
}
#menu-item:focused {
   -fx-background-color: #3498DB;
}

#customTextArea {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-style: italic;
    -fx-font-family: Roboto;
    -fx-text-fill: #757575;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
}

#vector {
    -fx-graphic: url("../images/chat/Vector.png");
}

#smailik {
    -fx-graphic: url("../images/chat/smailik.png");
}

#skrepka {
     -fx-graphic: url("../images/chat/skrepka.png");
}

#addContact {
    -fx-graphic: url("../images/chat/create.png");
}

.tab {
    -fx-background-color: #3498DB;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.root {
    -tab-text-color: #FFFFFF;
}

.tab-label {
    -fx-border-width: 0 0 5 0;
    -fx-border-color: #3498DB #3498DB transparent #3498DB;
    -fx-border-insets: 0;
    -fx-border-style: solid;
    -fx-font-weight: normal;
    -fx-text-fill: -tab-text-color;
    -fx-font-size: 14px;
    -fx-font-family: Roboto;
}

.tab-header-background {
    -fx-background-color: #3498DB;

}

#contactListView:pressed {
    -fx-background-color: #3498DB;
}

.hamburger StackPane{
    -fx-background-color: white;
}

.btnCreateGroup {
    -fx-background-color: #3498DB;
    -fx-background-radius: 25px;
}

.body {
    margin: 0;
    padding: 10px;
    background-image: url(" + backgroundImage + ");
    background-attachment: fixed;
}

/*общие стили*/
/*time day*/
.timeStampDay {
    display: inline-block;
    text-align: center;
    /*width: 80px;*/
    margin: 0 38%;
    margin-top: 10px;
    color: #55635A;
    background: #BCDCC9;
    border-radius: 10px;
    padding: 5px 10px;
}

/**/
.message {
    display: flex;
    width: 0px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*div text --> div msg*/
.msg {
    width: auto;
    word-wrap: break-word; /*<!--Перенос слов-->*/
}

/*div Logo*/
.msgLogo {
    flex: none;
    align-self: start;
    width: 33px;
    height: 33px;
    background: lightgrey;
    border-radius: 50%;
}

/*div text, 1->2*/
.msgTxt {
    display: flex;
    flex-direction: column;
    flex: auto;
    max-width: 400px;
    min-width: 200px;
    width: 300px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 16px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15);
}

/*div time*/
.msgTime {
    flex: auto;
}

/*div msgTxt --> sender*/
.myUserClass {
    background: #C6FCFF;
}

.senderUserClass {
    background: #FFFFFF;
}

/*div text --> div sender*/
.myUserClassS{
    display: none; /*Отправителя себя не отображаем*/
}

.senderUserClassS{
    word-wrap: break-word; /*<!--Перенос слов-->*/
    color: #1EA362;
}

/*div time -->sender*/
.myUserClassT {
    color: #757575;
}

.senderUserClassT {
    color: #4285F4;
}
