.textMyProfile {
    -fx-font-size: 16px;
    -fx-font-family: Roboto;
}

.loadAvatarButton {
    -fx-background-image: url("client/images/profile/photo-camera3х.png");
    -fx-background-radius: 28px;

}

.labelEmailMyProfile {
    -fx-font-family: Roboto;
    -fx-font-style: normal;
    -fx-font-weight: 300;
    -fx-line-height: normal;
    -fx-font-size: 14px;
    -fx-alignment: center ;
}

.labelNameMyProfile {
    -fx-font-family: Roboto;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-line-height: normal;
    -fx-alignment: center ;
    -fx-font-size: 24px;
}

.btnEditLabel {
   -fx-background-radius: 15px;
}

.textWarningInfo{
    -fx-font-family: Roboto;
    -fx-font-style: normal;
    -fx-font-weight: 300;
    -fx-line-height: normal;
    -fx-font-size: 11px;
    -fx-alignment: center;
    -fx-text-fill: #34495E;
}

.textAboutMySelf{
    -fx-font-family: Roboto;
    -fx-font-style: normal;
    -fx-font-weight: 300;
    -fx-line-height: normal;
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-text-fill: #34495E;

}

.btnWriteMessage{
    -fx-text-alignment: left;
}

.btnCancel{
    -fx-background-radius: 25px;

}

.btnCancelNew{
    -fx-background-radius: 25px;
    -fx-background-color: #3498DB;
}