.anchor-pane {
    -fx-background-image: url("../images/clement-h-544786-unsplash.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#loginPanel {
    -fx-background-color: rgba(132, 219, 255, 0.2);

}
#ellipse {
    -fx-background-image: url("../images/Ellipse.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

.menu-bar {
    -fx-background-image: url("../images/clement-h-544786-unsplash.jpg");
    -fx-background-color: rgba(255, 255, 255, 0.16);
}

.context-menu {
    -fx-background-image: url("../images/clement-h-544786-unsplash.jpg");
    -fx-background-color: rgba(255, 255, 255, 0.16);
}

.menu-bar.label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
}
#menu:focused {
    -fx-background-image: url("../images/clement-h-544786-unsplash.jpg");

}
#menu:hover {
    -fx-background-image: url("../images/clement-h-544786-unsplash.jpg");

}
.menu-item:focused {
    -fx-background-image: url("../images/clement-h-544786-unsplash.jpg");

}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
   -fx-font-size: 11pt;
   -fx-font-family: "Roboto";
   //-fx-font-style: regular;
   -fx-text-fill: #004F70;
}

.label-header {
    -fx-font-size: 30pt;
    -fx-font-family: "Roboto";
    //-fx-font-style: oblique;
    -fx-text-fill: #004F70;

}

.menu-bar {
    -fx-background-color: derive(#FFE684,20%);
}

.context-menu {
    -fx-background-color: derive(#FFE684,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    //-fx-padding: 5 22 5 22;
    -fx-background-radius: 8;
    -fx-background-color: #FFE684;
    -fx-font-family: "Roboto", Helvetica, Arial, bold;
    -fx-font-size: 16pt;
    -fx-text-fill: #004F70;
    //-fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: derive(#FFE674,15%);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}