.button {
    -fx-background-color: #3498DB;
    -fx-background-radius: 25 ;
}

.btnCancel {
    -fx-background-color: #BABABA;
    -fx-background-radius: 25 ;
}

.backField {
    -fx-background-radius: 35px;
}

