.list-cell:even{
    -fx-background-color: #ddffe2;
}
#button{
    -fx-background-color: cyan;
}
#buttonauth{
    -fx-background-color: #aaddb2;
}
#buttonreg{
    -fx-background-color: #ddffe2;
}
#regButtonreg{
    -fx-background-color: #ddffe2;
    -fx-border-color: #66ff77;
}